@tailwind base;
@tailwind components;
@tailwind utilities;


/* Loader Styles */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f4f4f4; /* Optional: Adds background color to make it stand out */
  }
  
  